<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.getui.getuiflut">
   <application>
       <!-- 请根据您当前自定义的 PushService 名称路径进行配置-->
       <service
           android:name="com.getui.getuiflut.FlutterPushService"
           android:exported="true"
           android:label="PushService"
           android:process=":pushservice"/>
       <service
           android:name="com.getui.getuiflut.FlutterIntentService"
           android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>
</manifest>
